* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; /* 가로 스크롤 제거 */
    overflow-y: auto; /* 세로 스크롤 자동 */
    width: 100%;
    height: 100%;
}

.leftBox {
    width: calc(100% - 40rem);
    height: fit-content;
    flex: 1;
}

.rightBox {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40rem;
    background: linear-gradient(90deg, var(--color, black) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 100%);
    overflow-y: auto;
    padding: 2rem 2.3rem 0 6rem;
    z-index: 1001;
}

#logo-holder-mobile {
    display: block;
    margin: 4rem auto 0;
    height: 21rem;
    width: auto;
    position: relative;
    z-index: 80;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.6rem 40px;
    width: calc(100% - 40rem);
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, rgb(255, 255, 255) 20%, rgba(255,255,255,0) 100%);
    z-index: 2;
}

.header_mobile {
    display: flex;
    bottom: 0;
    padding: 2.6rem 40px 2.9rem;
    width: 100vw;
    position: fixed !important;
    background: linear-gradient(360deg, rgb(255, 255, 255) 20%, rgba(255,255,255,0) 100%);
    z-index: 100;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40rem;
}

.menu_mobile {
    min-width: 36rem;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.categoryButton {
    height: fit-content;
    color: white;
    font-size: 1.9rem;
    padding: 1rem 1.1rem;
    margin: 0 0.3rem;
    background-color: rgb(206, 206, 206);
    cursor: pointer;
    font-family: "agahnsangsoo2012", sans-serif;
    font-weight: 500;
}

.categoryButton:first-child {
    margin-left: 0;
}

.category1 { background-color: red; }
.category2 { background-color: blue; }
.category3 { background-color: green; }
.category4 { background-color: orange; }

#searchInput {
    display: block;
    width: 29rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    margin-top: 0.6rem;
}

.dropfragment {
    font-size: 1.9rem;
    min-width: 127px;
    height: 8.1rem;
    padding: 1.3rem;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-family: "agahnsangsoo2012", sans-serif;
    font-weight: 500;
    word-break: keep-all;
    text-decoration: none;
    color: black;
    margin-left: auto;
}

.fragments {
    margin: 15rem 0.7rem 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 6rem;
    z-index: 1;
    flex: 1;
}

.word {
    margin: 0 1.2rem 1rem 1.9rem;
    color: var(--color, black);
    cursor: pointer;
    font-family: "agahnsangsoo2012", sans-serif;
    font-weight: 500;
}

.word::before, .word::after, .word .dot-bottom-left, .word .dot-bottom-right {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color, black);
}

.word::before { top: -4px; left: -4px; }
.word::after { top: -4px; right: -4px; }
.word .dot-bottom-left { bottom: -4px; left: -4px; }
.word .dot-bottom-right { bottom: -4px; right: -4px; }

.word:hover::before, .word:hover::after, .word:hover .dot-bottom-left, .word:hover .dot-bottom-right {
    width: 19px;
    height: 19px;
}

.wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 193px;
}

#footer {
    margin-top: 2rem;
    display: flex;
    height: 193px;
    position: relative;
    transform: translateY(-100%);
    justify-content: space-between;
}

#bookInfo {
    width: 22rem;
    position: relative;
    margin-right: 2rem;
}

.logo-holder {
    position: relative;
    width: 10rem;
    margin-bottom: 2rem;
    margin-right: 0;
    right: 0;
}

.bookText {
    font-size: 1.43rem;
    line-height: 3rem;
    font-family: "agchoijeongho-screen", sans-serif;
    font-weight: 400;
}

.authorText {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    font-family: "agahnsangsoo2012", sans-serif;
    font-weight: 400;
}

.titleText {
    font-size: 1.7rem;
    line-height: 1.8rem;
    margin-bottom: 0.1rem;
    font-family: "agahnsangsoo2012", sans-serif;
    font-weight: 400;
}

.publisherText {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    font-family: "agahnsangsoo2012", sans-serif;
    font-weight: 400;
}

@media only screen and (min-width: 685px) {
    #logo-holder-mobile { display: none; }
    .header_mobile{display: none;}
}

@media only screen and (max-width: 1360px) {
    .fragments { font-size: 4.9rem; }
    .rightBox { width: 36rem; }
    .word:hover::before, .word:hover::after, .word:hover .dot-bottom-left, .word:hover .dot-bottom-right {
        width: 16px;
        height: 16px;
    }
    .leftBox{width: calc(100% - 36rem);}
    .header{width: calc(100% - 36rem);}
}

@media only screen and (max-width: 1247px) {
    .rightBox {
        display: none;
        width: auto;
        height: 70%;
        max-height: 80%;
        top: 20%;
        left: 20%;
        right: 20%;
        bottom: auto;
        padding: 0rem;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow-y: auto;
    }

    .rightBox.active {
        display: block;
        position: fixed;
        padding: 2rem 2rem 4rem 4rem;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    .overlay.active { display: block; }
    .bookText { font-size: 1.2rem; line-height: 2.3rem; }
    #footer { height: 121px; }
    .leftBox { width: 100vw; }
    .fragments { font-size: 6rem; }
    .header { width: 100vw; }
}

@media only screen and (max-width: 684px) {
    .rightBox {
        display: none;
        width: auto;
        height: 60%;
        max-height: 80%;
        top: 10%;
        left: 14%;
        right: 14%;
        bottom: auto;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow-y: auto;
    }

    .rightBox.active {
        display: block;
        position: fixed;
        padding: 4rem 4rem 4rem 2rem;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    .overlay.active { display: block; }
    .header { display: none; }
    .categoryButton { font-size: 2rem; }
    .categoryButton:nth-child(5) { margin-right: 0; }
    #searchInput { min-width: 30rem; }
    #wholeContainer { overflow: visible; width: auto; }
    .leftBox { width: 100vw; }
    .bookText { font-size: 1.4rem; line-height: 2.6rem; }
    .dropfragment { display: none; }
    #searchInput { width: 60px; height: 76px; margin: 1rem; }
    .fragments { font-size: 6rem; width: 100vw; }
    .word { margin-right: 1rem; }
}

@media only screen and (max-width: 420px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    .leftBox{
        width: 100vw;
    }

    .header_mobile{
        min-width: 100%;
        bottom: 0;
        padding: 0;
        margin: 0;
    }

    .menu_mobile{
        bottom: 1rem;
        margin: 0;
        padding: 0;
        gap:0.2rem;
        justify-content: center;
        min-width: 100vw;
    }

    .categoryButton{
        padding: 0.6rem 0.8rem;
        font-size: 1.8rem;
        margin: 0;
    }

    #logo-holder-mobile{
        display: none;
        width: 60vw;
        margin-top: 0;
    }

    .fragments{
        margin-top: 1.4rem;
        font-size: 3.2rem;
        width: 100vw;
    }

    .word{
        margin-left: 1rem;
    }

    .rightBox {
        display: none;
        width: auto;
        height: 60%;
        max-height: 80%;
        top: 10%;
        left: 8%;
        right: 8%;
        bottom: auto;
        padding: 0rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow-y: auto;
    }

    .rightBox.active {
        display: block;
        position: fixed;
        padding: 1rem 2rem 2rem 2rem;
    }

    .logo-holder{
        display: none;
    }

    .bookText{
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    #searchInput {
        min-width: 23.7rem;
        height: 3rem;
        padding: 0;
        font-size: 1.2rem;
        border: 1px solid #ccc;
        margin-top: 2px;
    }
}