*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    
    }

h1{
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    text-align: center;
    font-size: 42px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: rgb(35, 35, 35);
}

.desc{
    margin-left: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family:"DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(35, 35, 35);
    font-size: 24px;
}

ul{
    margin-left: 2rem;
    text-align: center;
    font-family:"DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: rgb(35, 35, 35);
    font-size: 18px;
    line-height: 2.1rem;

}

H2{
    margin-left: 2rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family:"DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: rgb(35, 35, 35);
    font-size: 21px;
}

.asciibutton{
    align-content: center;
    text-align: center;
    margin-left: 2rem;
}

.stilllifebutton{
    align-content: center;
    text-align: center;
    margin-left: 2rem;
}

img{
    margin: auto;
    display: block;
    align-content: center;
    height: 30vh;
    }